{% extends 'second/base.html' %}
{% block book_active %}active{% endblock %}

{% block body %}
<div class="albums-container container-fluid">
    {% if not books and not authors %}
    <h4>No Search found.... </h4>
    {% endif %}
    <!-- Albums -->
    <div class="row">

        {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
        {% if books %}
            <div class="col-sm-12">
                <h3>Books</h3>
            </div>
            {% for book in books %}
                    {{ aut_url.book.name }}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'book_detail' book.id %}">
                            <img src="{{ book.cover.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h4>Name :{{ book.name }}</h4>

                            <h4>Genre :
                                        {{ book.genre }}
                            </h4>

                            <!-- View Details -->
                            <a href="{% url 'book_detail' book.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% endif %}

    </div>
     <div class="row">
    {% if authors %}
            <div class="col-sm-12">
                <h3>Authors</h3>
            </div>
            {% for author in authors %}

                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'author_details' author.id %}">
                            <img src="{{ author.pic.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h4>Name :{{ author.name }}</h4>

                            <h4>Age :
                                        {{ author.age }}
                            </h4>

                            <!-- View Details -->
                            <a href="{% url 'author_details' author.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
     {% endif %}
     </div>

{% endblock  %}
</div>